@model IEnumerable<INTEX.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompoundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesAgentID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompoundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesAgentID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderNumber }) |
            @Html.ActionLink("Details", "Details", new { id = item.WorkOrderNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WorkOrderNumber })
        </td>
    </tr>
}

</table>
