@model INTEX.Models.ClientAccount

@{
    ViewBag.Title = "displayAccount";
}

<h2>
    @Model.ClientFirstName <br />
    @Model.ClientLastName <br />
    @Model.AccountID <br />
    @Model.AccountBalance<br />
    @Model.NumberofOrders<br />
</h2>

<row class="row">
    <div class="col-md-4">
        <a class="btn btn-lg btn-primary" href="@Url.Action("ClientOrders", "Home", new { CID = Model.ClientID})">Track My Orders</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-lg btn-primary" href="">Get a Quote</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-lg btn-primary" href="@Url.Action("Create", "WorkOrders", new { ClientID = Model.ClientID})">Create a New Order</a>
    </div>
</row>