@model INTEX.Models.ClientAccount

@{
    ViewBag.Title = "displayAccount";
}

<h2>
    @Model.ClientFirstName <br />
    @Model.ClientLastName <br />
    @Model.AccountID <br />
    @Model.AccountBalance<br />
    @Model.NumberofOrders<br />
</h2>


<a href="@Url.Action("ClientOrders", "Home", new { CID = Model.ClientID})">Track My Orders</a>
<a href="">Quote</a>
<a href="@Url.Action("Create", "WorkOrders", new { ClientID = Model.ClientID})">Create a New Order</a>
