@{
    ViewBag.Title = "Login";
}
<div class="white">
    <h2 class="w3-center">Login to Your Portal</h2>
    
    
    <div class="w3-card-4 w3-blue-gray" style="padding:15px">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <br />
            <div class="col-sm-2">
                @Html.Label("Email:")
            </div>
            <div class="col-sm-6">
                @Html.TextBox("username", null, new { @class = "form-control" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-2">
                @Html.Label("Password:")
            </div>
            <div class="col-sm-6">
                @Html.Password("password", null, new { @class = "form-control" })
                <p style="color: red">@ViewBag.Error</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
}
    </div>
</div>