@model IEnumerable<INTEX.Models.displayTests>

@{
    ViewBag.Title = "displayTests";
}

<h2 class="w3-center">Tests Included in Assay</h2>


<div class="w3-card-4 w3-blue-gray">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            if (item.Conditional == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.BaseCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <p>This test will only run if specific trigger conditions are met. If the test is run, you will be charged additional costs. Do you want to run this test regardless of the triggers?</p>
                        <div style="color:black">
                            @Html.DropDownList("Response",
new SelectList(
new[]
{
                       new { Value = "false", Text = "No" },
                       new { Value = "true", Text = "Yes"},
                },
                "Value",
                "Text"))
                                            </div>
                        <br />
                    </td>
                    
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.BaseCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td></td>

                </tr>
            }
           
        }
    </table>
</div>
<br />

<button class="btn btn-lg btn-success" onclick="location.href='@Url.Action("Create", "Order_Assay_Test", new { workOrderID = ViewBag.workorderid, AssayID = ViewBag.AssayID})'">Add Assay</button>

