@model IEnumerable<INTEX.Models.Assay>

@{
    ViewBag.Title = "Index";
}

<h2 class="w3-center">All Available Assays</h2>

<table class="table-responsive w3-blue-gray">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayProtocol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionEstimate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssayDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssayProtocol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionEstimate)
            </td>
            <td>
               

              <a class="btn btn-md btn-success" href="@Url.Action("displayTests", "Tests", new { id = item.AssayID, myWorkOrderID = ViewBag.myWorkOrderID })">Select Assay</a>

               
            </td>
        </tr>
        
    }

</table>
